streamlit==1.34.0 
langchain==0.1.14 
chromadb==0.4.22 
protobuf==3.20.3 
opentelemetry-exporter-otlp==1.22.0 
pypdf 
langchain-huggingface 
python-dotenv 
langchain-community 
langchain-mistralai 
langchain-chroma 
sentence-transformers 
